{% extends "/admin/base.html" %}
{% block title %}Products Create{% endblock %}

{% block content  %}
<div class="container">
    <!-- Added your content -->
    <h3 class="text-center">TELEGRAM MESSAGE</h3>

    <form class="my-3" method="POST" action="/admin/sendmessage">

        <div class="row">
              <div class="col-md-3"></div>

              <div class="col-md-6">

                  <div class="card" >
                    
                      <div class="card-body">
                          <h5 class="card-text text-center">Enter The Message</h3>
                        
                          <label for="title" class="form-label">Type Your Message</label>
                              <div class="form-floating ">
                                
                                <textarea class="form-control"  placeholder="Blog here" name="message"   id="floatingTextarea2" style="height: 234px;" rows="1000" cols="1000"></textarea>
                                <label for="floatingTextarea2" ></label>
                              </div>
    

                          

                         
                          
                          <h5 class="text-danger">{{msg}}</h5>
                          <div class="d-grid gap-2 col-5 mx-auto">
                          <button class="btn btn-success bg-gradient" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                          </svg> SEND </button>
                          <button class="btn btn-danger bg-gradient" type="reset"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                          </svg> CLEAR</button>
                          </div>
                          
                      </div>
                  </div>

              </div>

   </form>


</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    
</script>
{% endblock %}